/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/



.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: wght(var(--font-variation-weight-normal));
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: var(--bg-image);
  background-size: cover;
  background-attachment: fixed;
}

/* header */


.header {
  
  inline-size: clamp(320px, 100%, var(--max-width));
  padding: clamp(120px, 32dvi, 128px) 0 128px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  font-family: var(--accent-font-family), sans-serif;
  margin: 100px 0;
  background-color: var(--bg-color);
  border: 2px solid var(--accent-color);
}

.header__title {
  font-size: clamp(3.0625rem, 2.7768rem + 1.4286vw, 4.0625rem);
  font-family: var(--accent-font-family);
  text-transform: uppercase;
  margin-block-end: 20px;
}

.header__subtitle {
  text-transform: uppercase;
  font-size: clamp(0.875rem, 0.7143rem + 0.8036vw, 1.4375rem);
  text-align: center;
}

/* main-content */

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  inline-size: clamp(320px, 100%, var(--max-width, 700px));
  gap: 48px;
  justify-items: center;
  font-family: var(--main-font-family);
}

.section__sprint {
  display: grid;
  grid-template-columns: minmax(320px, 100%);
  grid-template-rows: repeat(4, min-content);
  justify-items: center;
  max-inline-size: 700px;
  border: 2px solid var(--accent-color);
  background-color: var(--bg-color);
  margin-block-end: 3px;

}


.card__title {
  padding:6px 10px;
  font-variation-settings: 'wght' var(--font-variation-weight-bold);
  font-size: inherit;
  letter-spacing: 1.1px;
  border-bottom: 2px solid var(--accent-color);
}

.image__container {
  position: relative;
  block-size: auto;
  aspect-ratio: 1 / 1;
  
}



.card__img {
  inline-size: 100%;
  block-size: auto;
  display: block;
  object-fit: cover;
  object-position: center;
  height: 100%;
  
}

.text__img {
  position: absolute;
  top: 25px;
  right: 25px;
  font-family: var(--accent-font-family);
  font-size: 14px;
  font-weight: 400;
  mix-blend-mode: hard-light;
  opacity: 0.4;
  text-transform: uppercase;
  text-shadow:
    0 0 2px var(--label-shadow, #FFF),
    0 0 4px var(--label-shadow, #FFF);
}

.text__img-lowcase {
  text-transform: none;
}


@supports(text-stroke: 1px var(--label-shadow)) or (-webkit-text-stroke: 1px var(--label-shadow)) {
  .text__img {
    -webkit-text-stroke: 1px var(--label-shadow);
    text-stroke: 1px var(--label-shadow);
    text-shadow: none;
  }
}



.card__text {
  display: flex;
  flex-direction: column;
  font-variation-settings: 'wght' var(--font-variation-weight-normal);
  gap: 27px;
  padding: 25px;
  font-size: 18px;
  
}

.main__text {
  
  line-height: 117%;
}




/* buttons */

.card__buttons {
  display: flex;
  justify-content: end;
  padding: 0 25px 25px 0;
}





.button {
  position: relative;
  border: 2px solid var(--accent-color);
  transition: box-shadow 0.3s ease;
  color: var(--button-text-color);
  background-color: var(--bg-color);

}

.button:focus-visible {
  border: 2px solid var(--accent-color);
  box-shadow: 2px 2px 0 var(--accent-color);
}

.button::before {
  content: '';
  position: absolute;
  inline-size: 100%;
  block-size: 100%;
  inset-inline-start: 0;
  inset-block-start: 0;
  background-color: var(--accent-color);
  scale: 0 1;
  transform-origin: left;
  transition: scale 0.5s ease-in-out;
}

.button:hover::before {
  scale: 1;
}



.card__like-button {
  
  block-size: 38px;
  inline-size: 130px;
  outline: none;
  
}



.button__text {
  position: relative;
  font-family: var(--accent-font-family);
  font-size: 14px;
  z-index: 1;
  transition: color 1s ease;
  mix-blend-mode: difference;
}


/* heart-icon */

.card__icon-button {
  padding: 0;
  margin-block-start: 2px;
  margin-inline-end: 5px;
  block-size: 34px;
  outline: none;
  border: none;
  transition: outline 0.3s ease;
  background-color: var(--bg-color);
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--accent-color);
}

.sparks {
  opacity: 0;
}

.contour {
  fill: var(--heart-contour);
  transition: fill 0.1s linear;
}

.like-icon:hover .core {
  fill: var(--heart-contour);
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: var(--heart-contour);
  transition: fill 0.3s 0.05s linear;
}


.like-icon:active .core {
  fill: var(--heart-fill);
  transition: fill 0.3s linear;
}

.like-icon:active .main-body {
  fill: var(--heart-fill);
  transition: fill 0.3s 0.05s linear;
}


.like-icon.is-liked .core {
  fill: var(--heart-fill);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--heart-fill);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .contour {
  fill: var(--heart-fill);
  transition: fill 0.3s 0.06s linear;
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: rise 0.3s 0.1s ease-in alternate;
}

.like-icon.is-liked .sparks {
  animation: sparks 0.3s 0.3s ease-in alternate;
}

.main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.core {
  fill: transparent;
  transition: fill 0.3s 0.03s linear;
}





/* модальное окно */

.save__data-button {
  margin-block-end: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
  padding: 15px 20px;
  inline-size: 339px;
  block-size: 55px;
  background-color: var(--bg-color);
  outline: none;

}



.floppy__svg {
  position: relative;
  z-index: 1;
  inline-size: 21px;
  aspect-ratio: 1/1;
  transition: color 1s ease;
  mix-blend-mode: difference;
}

.modal {
  inline-size: clamp(341px, 100%, 357px);
  padding: 40px;
  color: var(--accent-color);
  font-family: var(--accent-font-family, fantasy);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  text-transform: uppercase;

  background-color: var(--bg-color);
  border: 2px solid var(--accent-color);
}

.modal:is([open]) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.modal::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.modal__description {
  display: flex;
  align-items: center;
  gap: 20px;
}

.modal__text {
  max-inline-size: 200px;
}

.modal-button {
  inline-size: clamp(257px, 100%, 293px);
  padding: 9px 0;
}

/* filters */

.contrast {
  filter: contrast(300%);
}

.blur {
  filter: blur(0.7rem);
}

.grayscale {
  filter: grayscale(90%);
}

.invert {
  filter: invert(100%) grayscale(70%);
}


.saturate__mix {
  filter: saturate(200%);
}

.brightness {
  filter: brightness(50%);
}

.opacity {
  filter: opacity(0.8);
}

.sepia {
  filter: sepia(80%);
}


@media (width <= 375px) {
  
  .header {
    padding: clamp(120px, 32dvi, 128px) 0 120px;
  }
  
  .main {
    gap:49px;
  }
  
  .text__img {
    inset-inline-end: 11px;
  }

  .save__data-button {
    inline-size: 310px;
    block-size: 84px;
    flex-direction: column;
  }

  .floppy__svg {
    inline-size: 28px;
  }


}

